@import '../../node_modules/@angular/material/theming';

@include mat-core();

@mixin global-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    
    html,body {
        height: 100%;
        
    }
    #container{
        color: mat-color($foreground, text); 
        position: inherit;
        padding-left:5%;
        padding-right:5%;
    }
    canvas{
        display:block;

    }
    #particles-js{
        position: absolute;
        width: 98vw;
        height: 98vh;
    }
    .buttonsDiv{
        position: relative;
        margin: 20px;
    }
    .portItems img{
        margin-top: 10px;
        height: 50%;
        width: 90%;
        opacity: 0.8;
    }
    .portItems{
        float: left;
        margin: 20px;
        padding: 0px;
        width: 300px;
        height: 350px;
        text-align: center;
        color: mat-color($primary, A200);
        background-color: transparent;
    }
    .vertical-bottom{
        // position: absolute;
        // bottom: 30px;
        // align-content: center;
    }
    .mat-raised-button{
        color: mat-color($primary, A200);
        background-color: transparent;
    }
    .mat-tooltip{
        font-size: 16px !important;
        color: mat-color($foreground, text); 
        background-color: mat-color($primary, A200);
        opacity: 0.95;
    }
    .mat-tab-label{
        color: mat-color($primary, 900);
    }
    .menu{
        color: mat-color($primary, A200);
    }
    .h3Bio{
        color: mat-color($primary, A400);
        display:inline-block;
        opacity: 0.9;
    }
    .cardWrapper{
        height: 90%;
        width: 90%;
    }





}

@mixin mixin-1($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    .mBtn:hover{
        box-shadow: 0px 12px 8px 5px mat-color($primary, 300);
    }
    .h3Bio{
        box-shadow: 0px 12px 8px 5px mat-color($primary, 100);
    }
    .h3Bio:hover{
        box-shadow: 0px 12px 8px 5px mat-color($primary, 300);
    }
    .menu button:hover{
        box-shadow: 0px 12px 8px 5px mat-color($primary, 200);
    }
    .h3Bio{
        margin: 1em;
        padding: 10px;
    }
    .cardWrapper{
        border: 1px solid mat-color($primary, 900);
        box-shadow: 12px 0px 8px 5px mat-color($primary, 200);
        padding-top: 10px;
    }
    .cardWrapper:hover{
        box-shadow: 12px 0px 8px 5px mat-color($primary, 400);
    }
    .me-sm{
        border-radius: 50%;
        margin-left: 1.5%;
        width: 8%;
    }

}

@mixin mixin-2($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    .portItems{
        border: 2px solid black;
    }
    .me-sm{
        border-radius: 50%;
        margin-left: 1.5%;
        width: 6%;
    }
    .mat-card-header-text{
        margin-top: 10px;
    }
    .portItems{
        margin: 30px;
        margin-left: 0px;
    }
}

$theme-1: mat-light-theme(
    mat-palette($mat-blue), 
    mat-palette($mat-light-blue),
);
$theme-2: mat-light-theme(
    mat-palette($mat-deep-purple), 
    mat-palette($mat-purple)
);


$typography-1: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 500),
    $subheading-1: mat-typography-level(28px, 32px, 300),
    $button: mat-typography-level(24px, 32px, 300),
    $display-4: mat-typography-level(28px, 32px, 300)

);
$typography-2: mat-typography-config(
    $font-family: 'Roboto Condensed, sans-serif',
);

.theme-1{
    @include angular-material-theme($theme-1);
    @include global-theme($theme-1);
    @include mixin-1($theme-1);
    @include angular-material-typography($typography-1);

}

.theme-2{
    @include angular-material-theme($theme-2);
    @include angular-material-typography($typography-2);
    @include global-theme($theme-2);
    @include mixin-2($theme-2);
}