@import '../../node_modules/@angular/material/theming';

@include mat-core();

@mixin global-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    
    html,body {
        height: 100%;
    }

    #container{
        // background-color: mat-color($background, background);
        // opacity: 0.5;
        color: mat-color($foreground, text); 
        // z-index: -1;
        position: inherit;
        padding-left:5%;
        padding-right:5%;
    }
    
    canvas{
        display:block;

    }
    #particles-js{
        // background-color: mat-color($background, background);
        position: absolute;
        width: 98vw;
        height: 98vh;
    }
    .buttonsDiv{
        position: relative;
        margin: 20px;
    }
    .portItems img{
        margin-top: 10px;
        height: 50%;
        width: 90%;
        opacity: 0.8;
    }
    .portItems{
        float: left;
        margin: 10px;
        max-width: 250px;
        height: 350px;
        text-align: center;

        color: mat-color($primary, A200);
        background-color: transparent;
        // opacity: 0.8;
    }
    .vertical-bottom{
        position: absolute;
        bottom: 0;
    }
    .mat-raised-button{
        color: mat-color($primary, A200);
        background-color: transparent;
    }
    .mat-tooltip{
        font-size: 16px !important;
        color: mat-color($foreground, text); 
        background-color: mat-color($primary, A200) 
    }
    .mat-tab-label{
        color: mat-color($primary, A200);

    }
    .menu{
        color: mat-color($primary, A200);
    }
    .h3Bio{
        margin: 1em;
        color: mat-color($primary, A200);
        border: 1px solid mat-color($primary, 900);
        box-shadow: 0px 12px 8px 5px;
        display:inline-block;
        padding: 10px;
        opacity: 0.9;
    }
    .portCards{
        border: 1px solid mat-color($primary, 900);
        box-shadow: 0px 12px 8px 5px;
        // display:inline-block;
    }


}

$theme-1: mat-light-theme(
    mat-palette($mat-blue), 
    mat-palette($mat-light-blue),
    );
$theme-2: mat-light-theme(
    mat-palette($mat-red), 
    mat-palette($mat-pink)
    );


$typography-1: mat-typography-config(
    $font-family: 'Roboto, monospace'
);
$typography-2: mat-typography-config(
    $font-family: 'Roboto Condensed, sans-serif',
    $display-4: mat-typography-level(18px, 26px, 500)
);

.theme-1{
    @include angular-material-theme($theme-1);
    @include angular-material-typography($typography-1);
    @include global-theme($theme-1);
}

.theme-2{
    @include angular-material-theme($theme-2);
    @include angular-material-typography($typography-2);
    @include global-theme($theme-2);
}