@import './customtheme.scss';

html{

}
body{

}


.AboutMe {

  display: block;
  position: relative;
}


.AboutMe::after {
  content: "";
  background: url('../assets/images/profile-transparent-sm-inverted.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 50%;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}